<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>创建活动第二步</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="//zhao-mi.net/m/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/m/build/create-basic.js"></script>
</head>
<body>
<div  class="wrapper page-process-02" id="pageCreateAction">
    <div class="header zui-flex" id="header">
        <div class="zui-cell logo-warp">
            <a href="/" class="logo item">找米</a>
        </div>
        <div class="zui-cell zui-flex-fixed ">
            <div class="nav">

                <a href="/searchpage" class="nav-item">
                    <i class="zui-icon icon-search"></i>
                </a>
                <a href="/" class="nav-item">
                    <i class="zui-icon icon-plus"></i>
                </a>
                <a href="/user/msg" class="nav-item">
                    {% if user.notification_center.unread_notifications_count %}
                        <span class="number">{{ user.notification_center.unread_notifications_count }}</span>
                    {% endif %}
                    <i class="zui-icon icon-email"></i>
                </a>
                <a href="/mine/start" class="nav-item user">
                    <img src="{{ user.profile.avatar_url }}" alt=""/>
                </a>
            </div>

        </div>

    </div>
    <div class="banner">

        <div class="process  zui-flex">
            <div class="zui-cell zui-flex-fixed">
                <div class="step step-01">1</div>
            </div>
            <div class="zui-cell"><div class="line"></div></div>
            <div class="zui-cell zui-flex-fixed">
                <div class="step step-02">2</div>
            </div>
            <div class="zui-cell"><div class="line"></div></div>
            <div class="zui-cell zui-flex-fixed">
                <div class="step step-03">3</div>
            </div>



        </div>
        <img src="//zhao-mi.net/m/modules/detail/img/banner.jpg" alt=""/>
    </div>

    <div class="main">
        <ul>
            <li class="zui-flex center vertical content">
                <div class=" zui-cell">
                    手机端仅提供简单活动发布， <br/>编辑门槛问卷请在PC端操作
                </div>
            </li>
        </ul>

        <div class="zui-align-right">
            {% if edit %}
                <a class="zui-btn zui-btn-action" href="/action/{{ activity.id }}/save">下一步</a>
            {% else %}
                <a class="zui-btn zui-btn-action" href="/action/{{ activity.id }}/publish">下一步</a>
            {% endif %}
        </div>
    </div>

</div>
</body>
</html>