pillow==2.8.2
Django==1.8.1
django-annoying==0.8.2
python-social-auth==0.2.11
django-formtools==1.0
django-send-messages==1.0.0
simplejson==3.7.3
django-excel-response==1.0
xlwt==1.0.0
django-celery==3.1.16