{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>登陆页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 	<link rel="stylesheet" href="{% static "lib/common/new_common.css" %}"/>
    <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script>
  	<script type="text/javascript" src="{% static "lib/common/new_common.js" %}"></script>
</head>
<body>
	  <div class="wrapper">
	  	
	  	
			<div class="header">
				<div class="header-center">
			        <div class="fLeft">
			            <div class="logo item"><a href="/">找米</a></div>
			        </div>
			        <a href="/login" class="fRight btn-login">注册/登录</a>
		        </div>
		    </div>
			<div class="content-mian">
				<div class="fLeft left-matter">
					<h4>找回密码</h4>
					<p></p>
					<div class="l-hint-info">保持登录状态分享活动给你的朋友，朋友后续参加的活动都会给你带来持续收益</div>
				</div>
				<div class="fLeft right-main reset-warp">
                    <form action="/resetpwd" method="post" id="findpwd-form">
                        {% csrf_token %}
						<div class="logo-mian">
							<div class="find-pwd">
								<div class="input-frame fLeft">
									<div class="icon-picture fLeft"><i class="icon-phone"></i></div>
									<input type="text" class="fLeft user-type phone-type"   placeholder="请输入手机号" autocomplete="off" name="phone_num"/>
								</div>
								<input type="button" class="fRight btn-findPwd" value="获取验证码"  onclick="sendcode('.btn-findPwd','.phone-type')"/>
							</div>
							<div class="input-frame">
								<div class="icon-picture fLeft"><i></i></div>
								<input type="text" class="fLeft code-sytles" placeholder="请输入验证码" autocomplete="off" name="code">
							</div>
							<div class="input-frame">
								<div class="icon-picture fLeft"><i class="password"></i></div>
								<input type="password" class="fLeft pwd" placeholder="请设定密码" autocomplete="off" name="password1">
							</div>
							<div class="input-frame">
								<div class="icon-picture fLeft"><i class="passwordS"></i></div>
								<input type="password" class="fLeft  repeatPwd" placeholder="请确认密码" autocomplete="off" name="password2">
							</div>
							<div class="reset-main">
								<button class="fRight btn-reset" type="submit">重置</button>
							</div>
						</div>
                    </form>
				</div>
		</div>
		<!--底部图片-->
		<img src="{% static "assets/imgs/footere.png" %}" class="position-footer"/>
	</div>
</body>
</html>