{% extends "Profile/mine_base.html" %}
{% block title %}我的米团{% endblock %}

{% block categories %}
    <a class="mine-create" href="/mine/start">我发起的活动</a>
    <a class="mine-apply" href="/mine/apply">我报名的活动</a>
    <a class="mine-like" href="/mine/like">我关注的活动</a>
    <a class="mine-group selected">我的米团</a>
{% endblock %}


{% block content_list %}
    <div id="group-info">
        <span id="my-group">我的团队<em>{{ member_num }}</em>人</span>
        <span id="group-mibi">团队米币<em>{{ user.profile.coin }}</em></span>
{#        <span>我推广的注册<em>{{ user.rice_team.promoted_registration }}</em>人</span>#}
    </div>
    <div id="tbl">
	{% if members %}
        <table>
            <thead>
            <tr>
                <th></th>
                <th>贡献米币</th>
                <th>团队米币</th>
            </tr>
            </thead>
            <tbody>
            {% for m in members %}
                <tr>
                <td>
                    <span class="seqno">{{ forloop.counter }}.</span>
                    <span class="portrait-c"><img src="{{ m.profile.avatar_url }}"></span>
                    <span class="name fn-overflow" title="{{ m.profile.name }}">{{ m.profile.name }}</span>
                </td>
                <td class="center">{% if m.contributed_coin %}{{ m.contributed_coin }}{% else %}0{% endif %}</td>
                <td class="center">{{ m.profile.coin }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
	{% endif %}
    </div>
{% endblock %}
