{% extends "Profile/item_base.html" %}
{% load loadLikeInfo %}
{% block operation %}
    <div class="main">
    {% load loadApplicantInfo %}
    {% if applicant %}
        {% if act.status == 0 %}
            <button class="z-btn green">报名中</button>
            <a href="javascript:;" class="unapply">取消申请</a>
        {% elif act.status == 1 %}
            <button class="z-btn starting">已经开始</button>
        {% else %}
            <button class="z-btn red no-shift">已经结束</button>
        {% endif %}
    {% else %}
        <button class="z-btn notapplyed">未报名</button>
    {% endif %}
    </div>
{% endblock %}
{% block share %}
    <span class="share"></span>
    {% load_like act user %}
    {% if like %}
    <span class="like selected"></span>
    {% else %}
    <span class="like"></span>
    {% endif %}
{% endblock %}