{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>登陆页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/login.js"></script>
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "build/login.js" %}"></script> #}
</head>
<body>
    <div id="header">
        <a class="logo" href="/">找米</a>
        <a class="quit" href="/"></a>
    </div>

    <div id="container">
        <p class="title-txt">登录</p>
        <form id="login-form" action="/login" method="post" autocomplete="off">
            {% csrf_token %}
            <div id="username-c">
                <input id="username" name="username" placeholder="请输入手机号码/用户名">
            </div>
            <div id="pwd-c">
                <input id="pwd" name="pwd" type="password" placeholder="请输入密码">
            </div>
            <div id="login-btn-c" class="fn-clr">
                <button type="submit" class="z-btn login-btn">登录</button>
                <a class="z-btn register-btn" href="/register{% if next %}?next={{ next }}{% endif %}">注册</a>
                <a class="reset-pwd" href="/resetpwd">忘记密码</a>
            </div>
        </form>
        
    </div>
</body>
</html>
