{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>登陆页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 	<link rel="stylesheet" href="{% static "lib/common/new_common.css" %}"/>
    <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/common/new_common.js" %}"></script>
</head>
<body>
	  <div class="wrapper">
	  	
	  	
			<div class="header">
				<div class="header-center">
			        <div class="fLeft">
			            <a class="logo item" href="/">找米</a>
			        </div>
		        </div>
		    </div>
		    
		    
			<div class="content-mian">
				<div class="fLeft left-matter">
					<h4>登录</h4>
					<p></p>
					<div class="l-hint-info">保持登录状态分享活动或注册页面给你的朋友，朋友后续参加的活动都会给你带来持续收益</div>
				</div>
				<div class="fLeft right-main">
                        <form method="post" action="/login" autocomplete="off" id="login-form">
                        {% csrf_token %}
						<img src="{% static "assets/imgs/Nbanner.png" %}"  class="img-fit"/>
						<div class="logo-mian">
							<div class="input-frame">
								<div class="icon-picture fLeft"><i></i></div>
								<input type="text" class="fLeft username" placeholder="请输入手机号" autocomplete="off" name="username">
							</div>
							<div class="input-frame">
								<div class="icon-picture fLeft"><i class="password"></i></div>
								<input type="password" class="fLeft pwd" placeholder="请输入密码" autocomplete="off" name="pwd">
							</div>
							<div class="footer-login">
								<button type="submit" class="btn-logos">登录</button>
								<div class="forget-main">
									<a href="/resetpwd" class="fLeft">忘记密码？</a>
									<a href="/register{% if next %}?next={{ next }}{% endif %}" class="fRight zc-style">
										<span class="fLeft">注册</span>
										<img src="{% static "assets/imgs/login.png" %}" class="fRight">
									</a>
								</div>
							</div>
						</div>
                        </form>
				</div>
		</div>
		<!--底部图片-->
		<img src="{% static "assets/imgs/footere.png" %}" class="position-footer"/>
	</div>
</body>
</html>