{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>找米-搜索</title>
    <link rel="shortcut icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'lib/common/new_common.css' %}"/>
{#    <link rel="stylesheet" href="{% static "modules/login/css/login.less" %}"/>#}
    <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script>
 	<script type="text/javascript" src="{% static "lib/common/new_common.js" %}"></script>
</head>
<body>
<div class="wrapper">
	<div class="header">
		<div class="header-center">
	        <div class="fLeft">
	            <a class="logo item" href="/">找米</a>
	        </div>
        </div>
    </div>
	<!--主要内容-->
	<div class="content-mian">
		<div class="fLeft left-matter">
				<h4>注册</h4>
				<p></p>
				<div class="l-hint-info">找米网是专业的市场调查发布与参与平台，用户可发布活动信息，参与者也可以通过推广注册笼络自己的米团，活的持续收益。<br/><br/>找米网活动均为实名邀请制，信息不完整将被拒绝</div>
		</div>
        <form action="/register" method="post" id="register-form">
            {% csrf_token %}
            <input type="hidden" value="{{ promotion_code }}" name="promotion_code">
		<div class="fLeft right-main register-warp">
			<div class="logo-mian">
				<!--头像-->
				<div class="head-portrait">
					<img src="{% static "assets/imgs/portrait.png" %}" />
					<input type="file" name="avatar"/>
				</div>
				<!--end-->
				<div class="find-pwd">
					<div class="input-frame fLeft">
						<div class="icon-picture fLeft"><i class="icon-phone"></i></div>
						<input type="text" class="fLeft phone-type" placeholder="请输入手机号" autocomplete="off" name="phone_num"/>
					</div>
                    <input type="button" class="fRight btn-findPwd " value="获取验证码" onclick="sendcode('.btn-findPwd','.phone-type')"/>
				</div>
				<div class="input-frame">
					<div class="icon-picture fLeft"><i class="icon-verifycode"></i></div>
					<input type="text" class="fLeft code-sytles"   placeholder="请输入验证码" autocomplete="off" name="code"/>
				</div>
				
				<div class="input-frame">
					<div class="icon-picture fLeft"><i></i></div>
					<input type="text" class="fLeft user-type username" placeholder="请输入真实姓名/企业名" autocomplete="off" name="nickname">
				</div>
				
				<div class="input-frame">
					<div class="icon-picture fLeft"><i class="password"></i></div>
					<input type="password" class="fLeft pwd"   placeholder="请设定密码" autocomplete="off" name="password1"/>
				</div>
				
				<div class="input-frame">
					<div class="icon-picture fLeft"><i class="passwordS"></i></div>
					<input type="password" class="fLeft repeatPwd"   placeholder="请确认密码" autocomplete="off" name="password2"/>
				</div>
				
				<div class="select-main">
					<input type="text" id="birthdate" name="birthDate" placeholder="请选择出生日期"/>
					<select class="fRight sex-second" name="gender">
						<option>请选择性别</option>
						<option>男</option>
						<option>女</option>
					</select>
				</div>
				
				<div class="footer-register">
					<div class="register-main">
                        <button type="submit" class="btn-shade-bm">注册</button>
{#						<a href="/register" class="btn-shade-bm fRight">注册</a>#}
						<a target="_blank" href="/statement"><div class="fRight">免责声明</div></a>
					</div>
					<a href="/login" class="fRight logo-next">
                        <div class="fLeft">登录</div>
						<img src="{% static "assets/imgs/login.png" %}" class="fRight">
					</a>
				</div>
			</div>
		</div>
		</form>
		
	</div>
	<!--底部图片-->
	<img src="{% static "assets/imgs/footere.png" %}" class="position-footer"/>
</div>

</body>    
</html>
<script type="text/javascript" src="{% static "lib/common/laydate.dev.js" %}"></script>
<script type="text/javascript">
        laydate({
            elem: '#birthdate'
        });
</script>