{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>注册页面 - 基本信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="//zhao-mi.net/favicon.png">
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "build/register.js" %}"></script> #}
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/register.js"></script>
</head>
<body>
    <div id="header">
        <a class="logo" href="/">找米</a>
        <a class="quit" href="/"></a>
    </div>

    <div id="container">
        <p class="title-txt">注册</p>
        <form id="register-form" action="/register/basic" method="post" autocomplete="off">
            {% csrf_token %}
            <div id="username-c">
                {{ form.username }}
            </div>
            <div id="pwd-c">
                {{ form.password1 }}
            </div>
            <div id="pwd-confirm-c">
                {{ form.password2 }}
            </div>
            <div id="login-btn-c" class="fn-clr">
                <button type="submit" class="z-btn register-btn">注册</button>
            </div>
{#            <div id="login-splitline" class="fn-clr">#}
{#                <span id="left-bottom"></span>#}
{#                <span id="right-bottom"></span>#}
{#            </div>#}
{#            <div id="login-others">#}
{#                <span id="or-txt">或</span>#}
{#                <p>通过社交账号直接登录</p>#}
{#                <div id="socials">#}
{#                    <a href="{% url "social:begin" backend='weixin' %}?next=/social/profile" id="wechat"></a>#}
{#                    <a href="{% url "social:begin" backend='qq' %}?next=/social/profile" id="qq"><i class="zui-icon icon-qq"></i></a>#}
{#                    <a href="{% url "social:begin" backend='weibo' %}?next=/social/profile" id="sina" class="last"></a>#}
{#                </div>#}
            </div>
        </form>
        
    </div>
</body>
</html>