{% extends "Profile/mine_base.html" %}

{% block title %}申请列表{% endblock %}
{% block menu_bar %}{% endblock %}

{% block content_list %}
    <div id="action-info">
        <span class="action-title">{{ act.name }}</span>
        <span class="action-cnt">{{ act.get_applying_num }}/{{ act.max_attend }}</span>
    </div>
    <div id="apply-list">
        {% for data in data_set %}
        <div class="apply-item">
            <div class="apply-item-content fn-clr">
                    <span class="portrait">
                        <img src="{{ data.user.profile.avatar.url }}" alt="">
                    </span>
                <span class="name">{{ data.user.profile.name }}</span>
                <span class="detail">详情</span>
                {% if data.apply.status == "applying" %}
                    <button class="z-btn approve">通过</button>
                    <button class="z-btn reject">拒绝</button>
                {% elif data.apply.status == "approved" %}
                    <button class="z-btn reject">拒绝</button>
                    <button class="z-btn approve">确认完成</button>
                {% elif data.apply.status == "denied" %}
                    <button class="z-btn rejected">已谢绝</button>
                    <button class="z-btn approve">通过</button>
                {% else %}
                    <button class="z-btn completed">已完成</button>
                {% endif %}
            </div>
            <div class="detail-content">
                <div class="personal-info">
                    <span>{{ data.user.profile.get_gender_display }}</span>
                    <span>{{ data.user.profile.age }}岁</span>
                    <span>{{ data.user.profile.phoneNum }}</span>
                </div>
                <div class="apply-answers">
                    {% for answer in data.answers %}
                        <div class="apply-answer">
                            <p>{{ answer.question }}</p>
                            {% if answer.file %}
                                <span>{{ answer }}</span>
                            {% else %}
                                <span>{{ answer }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="apply-extra">
        <p class="export">导出成excel</p>
        <button class="z-btn confirm">就位确认</button>
    </div>
{% endblock %}