{% extends "Profile/mine_base.html" %}
{% block title %}申请列表{% endblock %}
{% block menu_bar %}{% endblock %}

{% block content_list %}
    <div id="action-info">
        <span class="action-title">{{ act.name }}</span>
        <span class="action-cnt">{{ act.get_applying_num }}/{{ act.max_attend }}</span>
    </div>
    <div id="apply-list">
        {% for data in data_set %}
        <div class="apply-item" data-target="{{ data.user.id }}" {% if act.status == 2 %}data-status="finished"{% endif %}>
            <div class="apply-item-content fn-clr">
                    <span class="portrait">
                        <img src="{{ data.user.profile.avatar_url }}" alt="">
                    </span>
                <span class="name">{{ data.user.profile.name }}</span>
                <span class="detail">详情</span>
                {% if data.apply.status == "applying" %}
                    <button class="z-btn green" data-optype="approve">通过</button>
                    <button class="z-btn red" data-optype="deny">拒绝</button>
                {% elif data.apply.status == "approved" %}
                    <button class="z-btn green" data-optype="finish">确认完成</button>
                    <button class="z-btn red" data-optype="approve_cancel">取消通过</button>
                {% elif data.apply.status == "denied" %}
                    <button class="z-btn green" data-optype="deny_cancel">取消拒绝</button>
                    <button class="z-btn red">已谢绝</button>
                {% else %}
                    <button class="z-btn green" data-optype="finished">已完成</button>
                {% endif %}
            </div>
            <div class="detail-content">
                <div class="personal-info">
                    <span>{{ data.user.profile.get_gender_display }}</span>
                    <span>{{ data.user.profile.age }}岁</span>
                    <span>{{ data.user.profile.phoneNum }}</span>
                </div>
                {% if data.answers %}
                <div class="apply-answers">
                    {% for answer in data.answers %}
                        <div class="apply-answer">
                            <p>{{ forloop.counter }}. {{ answer.question }}</p>
                            {% if answer.file %}
                                <div class="answer-img">
                                <img src="{{ answer.file.url }}" alt="">
                                </div>
                            {% else %}
                                <span>{{ answer }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block excel %}
    <div id="apply-extra">
        <a class="export" href="/mine/manage?action={{ act.id }}&optype=excel">导出成excel</a>
    </div>
{% endblock %}
