{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>创建活动第二步</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="{% static "favicon.png" %}">
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/cityselect/jquery.cityselect.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "build/create-criteria.js" %}"></script> #}
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/cityselect/jquery.cityselect.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/create-criteria.js"></script>
</head>
<body>
<div id="header">
    <div id="header-c">
        <a href="/" id="logo">找米</a>
        <a id="personal-info" class="action" href="/mine/start">
            <img src="{{ user.profile.avatar_url }}" alt="我的个人信息">
        </a>
        <div id="msg" class="action">
            <a href="/user/msg" class="z-btn">消息</a>
            {% if user.notification_center.unread_notifications_count %}
                <span>{{ user.notification_center.unread_notifications_count }}</span>
            {% endif %}
        </div>
        <div id="pub" class="action"><a href="/action/new/create/1" class="z-btn">发布活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
</div>
<div id="content">

    <div id="action-bg">
        <img src="{% static "assets/imgs/detail-banner.png" %}">
        <div id="progress" class="z-process">
            <ul class="z-steps">
                <li class="z-node z-first-finish"><div class="z-process-label">活动基本信息</div></li>
                <li class="z-bar z-bar-finish"><div class="z-far"></div></li>
                <li class="z-node z-current"><div class="z-process-label">活动报名条件</div></li>
                <li class="z-bar z-bar-wait"><div class="z-far"></div></li>
                <li class="z-node z-last-wait"><div class="z-process-label">发布</div></li>
            </ul>
        </div>
    </div>
    <div id="criteria-operation">
        <ul>
            <li class="radio" data-type="radio">
                单选
            </li>
            <li class="checkbox" data-type="checkbox">
                多选
            </li>
            <li class="question" data-type="question">
                问答
            </li>
            <li class="upload" data-type="upload">
                图片
            </li>
        </ul>
    </div>
    <div id="action-container">
        <p class="tips">找米已为您获取的信息：用户头像、昵称、手机号，不需要在问卷中设置</p>
        {% if edit %}
            <form id="create-action-second" action="/action/{{ activity.id }}/edit/2" method="post">
        {% else %}
            <form id="create-action-second" action="/action/{{ activity.id }}/create/2" method="post">
        {% endif %}
        {% csrf_token %}
        <div id="action-criteria" class="criteria-c">
            <div id="action-questions">
                {% for q in single_choice_questions %}
                    <div class="action-item" data-type="radio">
                        <div class="criteria-q fn-clr">
                            <span class="criteria-seqno">{{ q.order_in_list }}、</span>
                            <input class="criteria-q-input" value="{{ q.question }}"></input>
                            <span class="criteria-del"></span>
                        </div>
                        <div class="action-answers">
                            <ul class="fn-clr">
                                {% for c in q.choices.all %}
                                    <li>
                                        <span class="z-radio"></span>
                                        <input class="criteria-a-input" value="{{ c.description }}"></input>
                                        <span class="criteria-del"></span>
                                    </li>
                                {% endfor %}
                                <li>
                                    <span class="criteria-add"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                {% for q in multi_choice_questions %}
                    <div class="action-item" data-type="checkbox">
                        <div class="criteria-q fn-clr">
                            <span class="criteria-seqno">{{ q.order_in_list }}、</span>
                            <input class="criteria-q-input" value="{{ q.question }}"/></input>
                            <span class="criteira-del"></span>
                        </div>
                        <div class="action-answers">
                            <ul class="fn-clr">
                                {% for c in q.choices.all %}
                                    <li>
                                        <span class="z-checkbox"></span>
                                        <input class="criteria-a-input" value="{{ c.description }}"></input>
                                        <span class="criteria-del"></span>
                                    </li>
                                {% endfor %}
                                <li>
                                    <span class="criteria-add"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                {% for q in text_questions %}
                    <div class="action-item fn-clr" data-type="question">
                        <div class="criteria-q fn-clr">
                            <span class="criteria-seqno">{{ q.order_in_list }}、</span>
                            <input class="criteria-q-input" placeholder="{{ q.question }}"></input>
                            <span class="criteria-del"></span>
                        </div>
                        <textarea></textarea>
                    </div>
                {% endfor %}
                {% for q in file_questions %}
                    <div class="criteria-q fn-clr">
                        <span class="criteria-seqno">{{ q.order_in_list }}、</span>
                        <input class="criteria-q-input" placeholder="{{ q.question }}"></input>
                        <span class="criteria-del"></span>
                    </div>
                    <input type="file"/>
                {% endfor %}
            </div>
        </div>
        <div id="action-criteria-btns">
            <button class="z-btn next" type="submit">下一步</button>
            <a class="z-btn prev" href="/action/{{ activity.id }}/create/1">上一步</a>
        </div>
        </form>
    </div>
</div>

</body>
</html>
