{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>创建活动第一步</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="//zhao-mi.net/favicon.png">
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/cityselect/jquery.cityselect.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "build/create-basic.js" %}"></script> #}
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/cityselect/jquery.cityselect.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/create-basic.js"></script>
</head>
<body>
<div id="header">
    <div id="header-c">
        <a href="/" id="logo">找米</a>
        <a id="personal-info" class="action" href="/mine/start">
            <img src="{{ user.profile.avatar_url }}" alt="我的个人信息">
        </a>
        <div id="msg" class="action">
            <a href="/user/msg" class="z-btn">消息</a>
            {% if user.notification_center.unread_notifications_count %}
                <span class="number">{{ user.notification_center.unread_notifications_count }}</span>
            {% endif %}
        </div>
        <div id="pub" class="action"><a href="/action/new/create/1" class="z-btn">创建活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
</div>
<div id="content">
    <div id="action-bg">
        <img src="//zhao-mi.net/assets/imgs/detail-banner.png">
        {% block step_indicator %}
            <div id="progress" class="z-process">
                <ul class="z-steps">
                    <li class="z-node z-first-finish"><div class="z-process-label">活动基本信息</div></li>
                    <li class="z-bar z-bar-wait"><div class="z-far"></div></li>
                    <li class="z-node"><div class="z-process-label">活动报名条件</div></li>
                    <li class="z-bar z-bar-wait"><div class="z-far"></div></li>
                    <li class="z-node z-last-wait"><div class="z-process-label">发布</div></li>
                </ul>
            </div>
        {% endblock %}
    </div>
    <div id="action-container">
        {% block content %}
            {% if editing %}
                <form id="create-action-first" action="/action/{{ action_id }}/edit/1" enctype="multipart/form-data" method="post">
            {% else %}
                {% if action_id %}
                    <form id="create-action-first" action="/action/{{ action_id }}/create/1" enctype="multipart/form-data" method="post">
                {% else %}
                    <form id="create-action-first" action="/action/new/create/1" enctype="multipart/form-data" method="post">
                {% endif %}
            {% endif %}
        {% csrf_token %}
        <div id="main">
            <p class="title">活动名称</p>
            {{ form.name }}
            <p class="title">主办方</p>
            <div class="content-w fn-clr">
                {{ form.host_name }}
                {% if user.profile.identified %}
                {% else %}
                    {% if user.identified %}
                        <span class="verified"></span>
                    {% else %}
                        <a class="z-btn verifiedmember" href="" target="_blank">申请认证用户</a>
                    {% endif %}
                {% endif %}
            </div>

        </div>
        <div id="secondary">
            <p class="title title-img location">活动地点</p>
            <div id="addr">
                <select id="prov" class="prov"></select>省
                <select id="city" class="city" disabled="disabled"></select>市/区
                {{ form.location }}
            </div>

            <p class="title title-img datetime">活动时间</p>
            <div id="datatime-c" class="fn-clr">
                <div id="form_datetime_start" class="input-group date form_datetime">
                    {{ form.start_time }}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <div id="form_datetime_end" class="input-group date form_datetime">
                    {{ form.end_time }}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
            </div>

            <p class="title title-img duration">持续时间</p>
            {{ form.day }}天
            {{ form.hour }}小时
            {{ form.minute }}分钟
            <p class="title title-img count">活动人数</p>
            {{ form.max_attend }}
            <p class="title title-img money fn-clr">
                <span class="txt">奖励金额</span>
                <span class="present">礼品</span>
                <span class="cb {% if dact.reward_gift %}checked{% endif %}"></span>
            </p>
            {{ form.reward }}
            {% if act.reward_gift %}
                <div class="presendWrapper"><input id="id_present" name="present" class="content" value="{{ act.reward_gift_detail }}"></div>
            {% endif %}
        </div>
        <div id="extra">
            <p class="title">活动简介</p>
            {{ form.description }}
            <p class="title">活动类型</p>
            <div id="action-type-c">
                {% if act_type %}
                    <p>{{ act_type }}</p>
                {% else %}
                    <p>请选择活动类型</p>
                {% endif %}
                <ul id="action-type-droplist">
                    {% for type in types %}
                        <li data-val="{{ forloop.counter0 }}" data-txt="{{ type.type_name }}">{{ type.type_name }}</li>
                    {% endfor %}
                </ul>
                {{ form.activity_type }}
            </div>
            <p class="title">活动海报</p>
            <label id="poster-t" for="poster" class="z-btn">请选择活动海报</label>
            <span id="poster-hint">仅支持png/jpg图片，找米也将为你提供默认海报</span>
            {{ form.poster }}
        </div>
        <div id="btns" class="fn-clr">
            <button type="submit" class="z-btn next">下一步</button>
        </div>
        </form>
        {% endblock %}
    </div>
</div>
<link rel="stylesheet" type="text/css" href="//zhao-mi.net/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//zhao-mi.net/lib/datepicker/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="//zhao-mi.net/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//zhao-mi.net/lib/datepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="//zhao-mi.net/lib/datepicker/bootstrap-datetimepicker.zh-CN.js"></script>
</body>
</html>