<!DOCTYPE html>
<html>
<head>
    <title>创建活动第三步</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="//zhaomi.biz/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhaomi.biz/build/create.js"></script>
</head>
<body>
<div id="content">
    <div id="header">
        <a href="/" id="logo">找米</a>
        <div id="personal-info" class="action">
            <a id="personal-info" class="action" href="/mine/start">
                <img src="{{ user.profile.avatar.url }}" alt="我的个人信息">
            </a>
        </div>
        <div id="msg" class="action"><a href="/user/msg" class="z-btn">消息</a></div>
        <div id="pub" class="action"><a href="/action/new/edit/1" class="z-btn">发布活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
    <div id="action-bg">
        <img src="/assets/imgs/detail-banner.png">
        <div id="progress" class="z-process">
          <ul class="z-steps">
            <li class="z-node z-first-finish"><div class="z-process-label">活动基本信息</div></li>
            <li class="z-bar z-bar-finish"><div class="z-far"></div></li>
            <li class="z-node z-current"><div class="z-process-label">活动报名条件</div></li>
            <li class="z-bar z-bar-finish"><div class="z-far"></div></li>
            <li class="z-node z-last-finish"><div class="z-process-label">发布</div></li>
          </ul>
        </div>
    </div>
    <div id="detail-container">
        <div id="detail-important" class="fn-clr">
            <span class="detail-name">{{ act.name }}</span>
            {% if act.recommended %}
                <span class="detail-hot">热门推荐</span>
            {% endif %}
            <span class="detail-price">&yen;{{ act.reward }}</span>
            <span class="like selected"></span>
            <span class="share"></span>
        </div>
        <p id="detail-host"><span>主办方：{{ act.host.profile.name }}</span><span>类型：{{ act.activity_type.type_name }}</span></p>
        <div id="detail-info">
            <p>
            {{ act.description|linebreaks }}
            </p>
        </div>

        <div id="detail-items">
            <p class="location fn-overflow" title="{{ act.location }}">{{ act.location }}</p>
            <p class="num fn-overflow">{{ act.get_applying_num }}/{{ act.max_attend }} 人</p>
            <p class="time fn-overflow">{{ act.get_duration_description }}</p>
            <p class="extra fn-overflow">{{ act.last_length|duration }}</p>
        </div>
        <div id="detail-pic">
            <img src="{{ act.poster.url }}">
        </div>
        <div id="detail-criteria">
            <h2>报名条件</h2>
            <div id="detail-questions">
            {% for q in single_choice_questions %}
                <div class="detail-item fn-clr">
                    <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                    <div class="detail-answers">
                        <ul>
                            {% for c in q.choices.all %}
                                <li><span class="z-radio"></span>{{ c.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            {% for q in multi_choice_questions %}
                <div class="detail-item fn-clr">
                    <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                    <div class="detail-answers">
                        <ul>
                            {% for c in q.choices.all %}
                                <li><span class="z-radio"></span>{{ c.description }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
            {% for q in text_questions %}
                <div class="detail-item fn-clr">
                    <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                    <textarea></textarea>
                </div>
            {% endfor %}
            {% for q in file_questions %}
                <div class="detail-item fn-clr">
                    <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                    <input type="file"/>
                </div>
            {% endfor %}
            </div>
        </div>
        <div id="detail-apply" class="fn-clr">
            <button class="z-btn apply">报名</button>
            <button class="z-btn share-bonus">分享获10米币</button>
        </div>
        <p class="hint">条件不达标？试试推广赚米币！</p>
        <p class="hint">此活动负责人为发起者，与找米平台无关</p>
    </div>
</div>
</body>    
</html>