{% load duration_filter %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>创建活动第三步</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <link rel="stylesheet" href="//zhao-mi.net/lib/jqueryui/jquery-ui.css"/>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/create.js"></script>
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/jqueryui/jquery-ui.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "build/create.js" %}"></script> #}
</head>
<body>
<div id="save-dialog" class="tip-dialog">
    <div class="save-icon-w">
        <span class="save-icon"></span>
    </div>
    <p class="save-txt">保存成功</p>
    <p class="save-tips">您可以在页面右上方“我的”中查看并管理已发布的活动</p>
    <div class="btns">
        <a class="z-btn" href="/action/{{ act_id }}/detail" target="_blank">查看</a>
    </div>
</div>

<div id="publish-dialog" class="tip-dialog">
    <div class="save-icon-w">
        <span class="save-icon"></span>
    </div>
    <p class="save-txt">发布成功</p>
    <p class="save-tips">您可以在页面右上方“我的”中查看并管理已发布的活动</p>
    <div class="btns">
        <a class="z-btn" href="/action/{{ act_id }}/detail" target="_blank">查看</a>
    </div>
</div>
<div id="header">
    <div id="header-c">
        <a href="/" id="logo">找米</a>
        <a id="personal-info" class="action" href="/mine/start">
            <img src="{{ user.profile.avatar_url }}" alt="我的个人信息">
        </a>
        <div id="msg" class="action">
            <a href="/user/msg" class="z-btn">消息</a>
            {% if user.notification_center.unread_notifications_count %}
                <span>{{ user.notification_center.unread_notifications_count }}</span>
            {% endif %}
        </div>
        <div id="pub" class="action"><a href="/action/new/create/1" class="z-btn">发布活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
</div>
<div id="content">

    <div id="action-bg">
        <img src="{% static "assets/imgs/detail-banner.png" %}">
        <div id="progress" class="z-process">
            <ul class="z-steps">
                <li class="z-node z-first-finish"><div class="z-process-label">活动基本信息</div></li>
                <li class="z-bar z-bar-finish"><div class="z-far"></div></li>
                <li class="z-node z-current"><div class="z-process-label">活动报名条件</div></li>
                <li class="z-bar z-bar-finish"><div class="z-far"></div></li>
                <li class="z-node z-last-finish"><div class="z-process-label">发布</div></li>
            </ul>
        </div>
    </div>
    <div id="action-container">
        <div id="action-important" class="fn-clr">
            <div class="action-name-w">
                <span class="action-name">{{ act.name }}</span>
                {% if act.recommended %}
                    <span class="action-hot">热门推荐</span>
                {% endif %}
                <span class="action-price">&yen;{{ act.reward }}</span>
            </div>
            <div class="action-oper">
                <span class="like"></span>
                <span class="share"></span>
            </div>
        </div>
        <p id="action-host"><span>主办方：{{ act.host.profile.name }}</span><span>类型：{{ act.activity_type.type_name }}</span></p>
        <div id="action-info">
            <p>
                {{ act.description|linebreaks }}
            </p>
        </div>

        <div id="action-items">
            <p class="location fn-overflow" title="{{ act.loc_description }}">{{ act.loc_description }}</p>
            <p class="num fn-overflow">{{ act.get_applying_num }}/{{ act.max_attend }} 人</p>
            <p class="time fn-overflow">{{ act.get_duration_description }}</p>
            <p class="extra fn-overflow">{{ act.last_length|duration }}</p>
        </div>
        <div id="action-pic">
            <img src="{{ act.poster_url }}">
        </div>
        <div id="action-criteria">
            <h2>报名条件</h2>
            <div id="action-questions">
                {% for q in single_choice_questions %}
                    <div class="action-item fn-clr">
                        <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                        <div class="action-answers show">
                            <ul>
                                {% for c in q.choices.all %}
                                    <li><span class="z-radio"></span>{{ c.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                {% for q in multi_choice_questions %}
                    <div class="action-item fn-clr">
                        <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                        <div class="action-answers show">
                            <ul>
                                {% for c in q.choices.all %}
                                    <li><span class="z-radio"></span>{{ c.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
                {% for q in text_questions %}
                    <div class="action-item fn-clr">
                        <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                        <textarea></textarea>
                    </div>
                {% endfor %}
                {% for q in file_questions %}
                    <div class="action-item fn-clr">
                        <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                        <input type="file"/>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="action-publish" class="fn-clr">
            <form id="create-action-final" method="post" action="/action/{{ act_id }}/publish">
                {% csrf_token %}
                {% if show_publish %}
                    <a id="publish" class="z-btn publish">发布</a>
                {% endif %}
                <a id="save" class="z-btn save" data-action="/action/{{ act_id }}/save">保存</a>
                <a class="statement" href="/statement" target="_blank">找米免责声明</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>