{% load staticfiles %}
{% load duration_filter %}
{% load sharelink %}
{% load loadLikeInfo %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ act.name }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="//zhao-mi.net/favicon.png">
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script> #}
    {# <script type="text/javascript" src="{% static "build/detail.js" %}"></script> #}
    <link rel="stylesheet" href="//zhao-mi.net/lib/jqueryui/jquery-ui.css"/>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-form/jquery.form.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-qrcode/jquery.qrcode.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/detail.js"></script>
</head>
<body>
<div id="header">
    <div id="header-c">
        <a href="/" id="logo">找米</a>
        {% if user %}
            <div id="data-id" data-value="1" style="display: none"></div>
            <a id="personal-info" class="action" href="/mine/start">
                <img src="{{ user.profile.avatar_url }}" alt="我的个人信息">
            </a>
            <div id="msg" class="action">
                <a href="/user/msg" class="z-btn">消息</a>
                {% if user.notification_center.unread_notifications_count %}
                    <span>{{ user.notification_center.unread_notifications_count }}</span>
                {% endif %}
            </div>
        {% else %}
            <div id="data-id" data-value="0" style="display: none"></div>
            <div id="reg" class="action"><a class="z-btn" href="/login{% if share_code %}?next=/action/{{ act.id }}?code={{ share_code }}{% endif %}">注册/登录</a></div>
        {% endif %}
        <div id="pub" class="action"><a href="/action/new/create/1" class="z-btn">创建活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
</div>
<div id="content">
    <div id="detail-bg">
        <img src= "//zhao-mi.net/assets/imgs/detail-banner.png">
    </div>
    <div id="detail-container" data-link="{% share_link act %}" {% if act.status == 2 %}class="finished"{% endif %}>
        <form id="apply-form" action="/action/{{ act.id }}/apply" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="{{ share_code }}" name="share_code">
            <div id="detail-important" class="fn-clr">
                <div class="detail-name-w {% if act.reward_gift %}with-present{% endif %}">
                    <span class="detail-name">{{ act.name }}</span>
                    <span class="detail-price">{{ act.reward_description }}</span>
                </div>
                <div class="detail-oper">
                    {% load_like act user %}
                    {% if like %}
                        <span class="like selected" data-id="{{ act.id }}"></span>
                    {% else %}
                        <span class="like" data-id="{{ act.id }}"></span>
                    {% endif %}
                    <span class="share"></span>
                </div>
            </div>
            <p id="detail-host">
                <span>主办方：{{ act.host.profile.name }}</span>
                <span>类型：{{ act.activity_type.type_name }}</span>
                {% if act.recommended and act.status != 2 %}
                    <span class="detail-hot">热门推荐</span>
                {% endif %}
                {% if act.status == 2 %}<span class="detail-finished">已结束</span>{% endif %}
            </p>
            <div id="detail-info">
                {% for line in act.get_description|seperate_to_p %}
                    <p>{{ line }}</p>
                {% endfor %}
            </div>

            <div id="detail-items">
                <p class="location fn-overflow" title="{{ act.loc_description }}">{{ act.loc_description }}</p>
                <p class="num fn-overflow">{{ act.get_applying_num }}/{{ act.max_attend }} 人</p>
                <p class="time fn-overflow">{{ act.get_duration_description }}</p>
                <p class="extra fn-overflow">{{ act.last_length|duration }}</p>
            </div>
            <div id="detail-pic">
                <img src="{{ act.poster_url }}">
            </div>
            <div id="detail-criteria">
                <h2>报名条件</h2>
                <div id="detail-questions">
                    {% for q in single_choice_questions %}
                        <div class="detail-item fn-clr" data-type="radio">
                            <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                            <div class="detail-answers">
                                <ul>
                                    {% for c in q.choices.all %}
                                        <li><span class="z-radio"></span>{{ c.description }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    {% for q in multi_choice_questions %}
                        <div class="detail-item fn-clr" data-type="checkbox">
                            <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                            <div class="detail-answers">
                                <ul>
                                    {% for c in q.choices.all %}
                                        <li><span class="z-checkbox"></span>{{ c.description }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    {% for q in text_questions %}
                        <div class="detail-item fn-clr" data-type="question">
                            <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                            <textarea></textarea>
                        </div>
                    {% endfor %}
                    {% for q in file_questions %}
                        <div class="detail-item fn-clr" data-type="upload">
                            <h3>{{ q.order_in_list }}、{{ q.question }}</h3>
                            <input type="file" name="upload-file-{{ forloop.counter0 }}"/>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div id="detail-apply" class="fn-clr">
                <button class="z-btn apply">报名</button>
                <button class="z-btn share-bonus" type="button">我要分享</button>
            </div>
            <p class="hint">分享带来的参加者完成本活动，您可获得<em>{{ act.share_reward }}</em>米币/每人。</p>
            <p class="hint">本活动由主办方发起，并由主办方负责组织、安排、结算。找米有权对用户违法行为进行监督处罚。</p>
        </form>
    </div>
</div>
</body>
</html>
