{% load staticfiles %}
{% load duration_filter %}
<!DOCTYPE html>
<html>
<head>
    <title>活动详情页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "build/detail.js" %}"></script>
</head>
<body>
<div id="content">
    <div id="header">
        <a href="//zhaomi.biz" id="logo">找米</a>
        <div id="area">
            <em>北京</em>
        </div>
        <div id="reg" class="action"><button class="z-btn">注册/登陆</button></div>
        <div id="pub" class="action"><button class="z-btn">发布活动</button></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
    <div id="detail-bg">
        <img src="{% static "assets/imgs/detail-banner.png" %}">
    </div>
    <div id="detail-container">
        <div id="detail-important" class="fn-clr">
            <span class="detail-name">{{ act.name }}</span>
            {% if act.recommended %}
                <span class="detail-hot">热门推荐</span>
            {% endif %}
            <span class="detail-price">&yen;{{ act.reward }}</span>
            <span class="like selected"></span>
            <span class="share"></span>
        </div>
        <p id="detail-host"><span>主办方：{{ act.host.profile.name }}</span><span>类型：{{ act.activity_type.type_name }}</span></p>
        <div id="detail-info">
            <p>
            {{ act.description|linebreaks }}
            </p>
        </div>
        
        <div id="detail-items">
            <p class="location fn-overflow" title="{{ act.location }}">{{ act.location }}</p>
            <p class="num fn-overflow">{{ act.get_applying_num }}/{{ act.max_attend }} 人</p>
            <p class="time fn-overflow">{{ act.get_duration_description }}</p>
            <p class="extra fn-overflow">{{ act.last_length|duration }}</p>
        </div>
        <div id="detail-pic">
            <img src="{{ act.poster.url }}">
        </div>
        <div id="detail-criteria">
            <h2>报名条件</h2>
            <div id="detail-questions">
                <div class="detail-item fn-clr">
                    <h3>1、请问您的学历是？</h3>
                    <div class="detail-answers">
                        <ul>
                            <li><span class="z-radio"></span>高中</li>
                            <li><span class="z-radio selected"></span>大专</li>
                            <li><span class="z-radio"></span>本科</li>
                        </ul>
                    </div>
                </div>
                <div class="detail-item fn-clr">
                    <h3>2、请问您的学历是？</h3>
                    <div class="detail-answers">
                        <ul>
                            <li><span class="z-checkbox selected"></span>高中</li>
                            <li><span class="z-checkbox selected"></span>大专</li>
                            <li><span class="z-checkbox"></span>本科</li>
                        </ul>
                    </div>
                </div>
                <div class="detail-item fn-clr">
                    <h3>3、请问您的学历是？</h3>
                    <textarea></textarea>
                </div>
                <div class="detail-item fn-clr">
                    <h3>4、请上传您的营业执照</h3>
                    <input type="file"/>
                </div>
            </div>
        </div>
        <div id="detail-apply" class="fn-clr">
            <button class="z-btn apply">报名</button>
            <button class="z-btn share-bonus">分享获10米币</button>
        </div>
        <p class="hint">条件不达标？试试推广赚米币！</p>
        <p class="hint">此活动负责人为发起者，与找米平台无关</p>
    </div>
</div>
</body>    
</html>