{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>找米-搜索</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static "mobile/lib/common/new_common.css" %}"/>
    <link rel="stylesheet" href="{% static "mobile/modules/login/css/new_login.css" %}"/>
    <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/jquery-form/jquery.form.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/common/new_common.js" %}"></script>
</head>
<body>
<div class="wrapper">
	<div class="header">
        <div class="fLeft">
            <div class="logo item">找米</div>
        </div>
        <a href="/login" class="fRight btn-login">注册/登录</a>
    </div>
    <!--banner图-->
	<a href="#"><img src="{% static "mobile/assets/img/Nbanner.jpg" %}" class="img-fit"/></a>
	
	<!--主要内容-->
	<div class="a-wrap">
		<p class="login-size">找回密码</p>
		<div class="logo-mian">
            <form action="/resetpwd" method="post" id="findpwd-form">
            {% csrf_token %}
			<div class="find-pwd">
				<div class="input-frame fLeft">
					<div class="icon-picture fLeft"><i class="icon-phone"></i></div>
					<input type="text" class="fLeft phone-type"   placeholder="请输入手机号" autocomplete="off" name="phone_num"/>
				</div>
				<input type="button" class="fRight btn-findPwd" value="获取验证码"  onclick="sendcode('.btn-findPwd','.phone-type')"/>
			</div>
			<div class="input-frame">
				<div class="icon-picture fLeft"><i class="icon-verifycode"></i></div>
				<input type="text" class="fLeft code-sytles"   placeholder="请输入验证码" autocomplete="off" name="code"/>
			</div>
			
			<div class="input-frame">
				<div class="icon-picture fLeft"><i class="password"></i></div>
				<input type="text" class="fLeft pwd"   placeholder="请设定密码" autocomplete="off" name="password1"/>
			</div>
			
			<div class="input-frame">
				<div class="icon-picture fLeft"><i class="passwordS"></i></div>
				<input type="text" class="fLeft repeatPwd"   placeholder="请确认密码" autocomplete="off" name="password2"/>
			</div>
			<div class="footer-login">
				<button type="submit" class="btn-logos">重置</button>
			</div>
            </form>
		</div>
	</div>
</div>

</body>    
</html>