<!doctype html>
<html>
<head>
    <title>我的米团</title>
    <link rel="shortcut icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="//zhao-mi.net/m/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/m/build/mine.js"></script>
</head>
<body>

<div class="wrapper" id="pageGroup">
    <div class="header zui-flex" id="header">
        <div class="zui-cell logo-warp">
            <a href="/" class="logo item">找米</a>
        </div>
        <div class="zui-cell zui-flex-fixed ">
            <div class="nav">
                <a href="/searchpage" class="nav-item">
                    <i class="zui-icon icon-search"></i>
                </a>
                <a href="/action/new/create/1" class="nav-item">
                    <i class="zui-icon icon-plus"></i>
                </a>
                <a href="/user/msg" class="nav-item">
                    <span class="number">{{ user.notification_center.unread_notifications_count }}</span>
                    <i class="zui-icon icon-email"></i>
                </a>
                <a href="/mine/start" class="nav-item user">
                    <img src="{{ user.profile.avatar_url }}" alt=""/>
                </a>
            </div>
        </div>
    </div>
    <div class="tab-wrapper top-tab">
        <div class="tab clearfix">
            <div class="tab-item ">
                <a href="/mine/start" class="tab-item-a">已发布</a>
            </div>
            <div class="tab-item">
                <a href="/mine/apply" class="tab-item-a">已报名</a>
            </div>
            <div class="tab-item">
                <a href="/mine/like" class="tab-item-a">已关注</a>
            </div>
            <div class="tab-item active">
                <a href="/mine/group" class="tab-item-a">米团</a>
            </div>
            <div class="tab-item">
                <a href="/mine/info?code={{ user.profile.promotion_code }}" class="tab-item-a">信息</a>
            </div>
        </div>
    </div>

    <div class="mine">
        <div class="mine-header">
            <i class="zui-icon icon-number"></i><span>我的团队 <em>{{ user.rice_team.total_members }}</em> 人</span> <span>团队米币 <em>{{ user.rice_team.team_coin }}</em></span>
        </div>
        <div class="mine-content">
	    {% if contributions %}
            <div class="th zui-flex ">
                <div class="zui-cell"></div>
                <div class="zui-cell zui-flex-fixed">
                    <div class="center">
                        <span>贡献的米币</span><i class="zui-icon icon-arrow-up"></i>
                    </div>
                </div>
                <div class="zui-cell zui-flex-fixed">
                    <div class="center">
                        <span>团队米币</span><i class="zui-icon icon-arrow-up"></i>
                    </div>
                </div>
            </div>
	    {% endif %}
            {% for contrib in contributions %}
            <div class="tr">
                <div class="zui-flex tr-item">
                    <div class="zui-cell zui-flex-fixed">{{ forloop.counter }}. <span class="img"><img src="{{ contrib.user.profile.avatar_url }}" alt=""/></span> </div>
                    <div class="zui-cell "><span class="name">{{ contrib.user.profile.name }}</span></div>
                    <div class="zui-cell zui-flex-fixed"><span class="center">{{ contrib.contributed_coin }}</span></div>
                    <div class="zui-cell zui-flex-fixed"><span class="center">{{ contrib.user.rice_team.team_coin }}</span></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

</body>
</html>
