{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>登录</title>
    <link rel="shortcut icon" type="image/png" href="{% static "favicon.png" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static "mobile/lib/common/new_common.css" %}"/>
    <link rel="stylesheet" href="{% static "mobile/modules/login/css/new_login.css" %}"/>
    <script type="text/javascript" src="{% static "mobile/lib/jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "mobile/lib/jquery-form/jquery.form.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/common/new_common.js" %}"></script>

    <style type="text/css">
		#imghead{border-radius: 50%;}
		input{-webkit-appearance:none;}
	</style>
</head>
<body>
<div class="wrapper">
	<div class="header">
        <div class="fLeft">
            <a href="/"><div class="logo item">找米</div></a>
        </div>
    </div>
    <!--banner图-->
	<a href="#"><img src="{% static "mobile/assets/img/Nbanner.jpg" %}" class="img-fit"/></a>
	
	<!--主要内容-->
	<div class="a-wrap">
		<p class="login-size">登录</p>
		<div class="logo-mian">
            <form action="/login" method="post" autocomplete="off" id="login-form">
            {% csrf_token %}
			<div class="input-frame">
				<div class="icon-picture fLeft"><i ></i></div>
				<input type="text" class="fLeft username"   placeholder="请输入手机号" autocomplete="off" name="username" />
			</div>
			
			<div class="input-frame">
				<div class="icon-picture fLeft"><i class="password"></i></div>
				<input type="password" class="fLeft pwd" placeholder="请输入密码" autocomplete="off" name="pwd"/>
			</div>
			<div class="footer-login">
				<button type="submit"  class="btn-logos"/>登录</button>
				<div class="forget-main">
					<a href="/resetpwd" class="fLeft">忘记密码？</a>
					<a href="/register{% if next %}?next={{ next }}{% endif %}" class="fRight">
						<div class="fLeft">注册</div>
						<i class="next-picture"></i>
					</a>
				</div>
			</div>
            </form>
		</div>
	</div>
</div>

</body>    
</html>