<!DOCTYPE html>
<html>
<head>
    <title>重置密码</title>
    <link rel="shortcut icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="//zhao-mi.net/m/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/m/build/login.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/m/build/login.js"></script>
</head>
<body>
<div class="wrapper" id="pageReset">
    <div class="header">
        <a href="/" class="zhaomi">找米</a> <a href="/" class="cancel-login"><i class="zui-icon icon-close"></i>取消重置</a>
    </div>
    <div class="access-box reset-success">
        <form action="//zhao-mi.net/login" method="post">
            <div class="user-header">
                <div class="img">
                    <img src="//zhao-mi.net/m/assets/img/user.png" alt="" class=""/>
                </div>
                <span class="user-name">力皓</span>
            </div>

            <div class="zui-align-center msg">
                重置密码成功 <a href="//zhao-mi.net/m/demo/list.html">返回首页</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>