{# 这个模板需要的变量有 #}
{# homepage_posters : 首页海报列表#}
{# footer : 底栏海报 #}
{# activity_types : 活动类型列表#}
{# activities : 上首页的活动列表 #}
{% load duration_filter %}
{% load staticfiles %}
{% load sharelink %}
{% load loadLikeInfo %}
<!DOCTYPE html>
<html>
<head>
    <title>找米</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="qc:admins" content="360766720175516654" />
    <meta property="wb:webmaster" content="e738ba9a5a97a68f" />
    <link rel="icon" type="image/png" href="//zhao-mi.net/favicon.png">
    <link rel="stylesheet" href="//zhao-mi.net/lib/jqueryui/jquery-ui.css"/>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/es5/es5-shim.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery-qrcode/jquery.qrcode.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/unslider/unslider.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/lib/cityselect/jquery.cityselect.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/list.js"></script>
    {# <script type="text/javascript" src="{% static "lib/jquery/jquery.min.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/unslider/unslider.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "lib/cityselect/jquery.cityselect.js" %}"></script> #}
    {# <script type="text/javascript" src="{% static "build/list.js" %}"></script> #}
</head>
<body>
{% csrf_token %}
<div id="header">
    <div id="header-c">
        <a href="/" id="logo">找米</a>
        <div id="area">
            <em>
                {% if param.city %}
                    {{ param.city }}
                {% else %}
                    地区选择
                {% endif %}
            </em>
            <i></i>
            <div id="area-droplist">
                <select class="prov"></select><span>省</span>
                <select class="city" disabled="disabled"></select><span class="city-txt">市/区</span>
                <button class="z-btn">确定</button>
            </div>
        </div>
        {% if user %}
            <a id="personal-info" class="action" href="/mine/start">
                <img src="{{ user.profile.avatar_url }}" alt="我的个人信息">
            </a>
            <div id="msg" class="action">
                <a href="/user/msg" class="z-btn">消息</a>
                {% if user.notification_center.unread_notifications_count %}
                    <span>{{ user.notification_center.unread_notifications_count }}</span>
                {% endif %}
            </div>
        {% else %}
            <div id="reg" class="action"><a class="z-btn" href="/login">注册/登陆</a></div>
        {% endif %}
        <div id="pub" class="action"><a href="/action/new/create/1" class="z-btn">发布活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
</div>
<div id="content">
    {% if homepage_posters %}
        <div id="banner">
            <ul>
                {% for banner in homepage_posters %}
                    <li>
                        <a href="{{ banner.related_activity.get_absolute_url }}">
                            {% if forloop.first %}
                                <img src="{{ banner.poster.url }}">
                            {% else %}
                                <img data-src="{{ banner.poster.url }}">
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="filter">
        <div id="hot-wrapper">
            <span id="hot">找米热门</span>
            <div id="hot-droplist">
                <span class="droplist-hot">找米热门</span>
                <ul>
                    <li {% if param.hot == "0" %}class="selected"{% endif %} data-type="0">热门推荐</li>
                    <li {% if param.hot == "1" %}class="selected"{% endif %} data-type="1">限时报名</li>
                    <li {% if param.hot == "2" %}class="selected"{% endif %} data-type="2">限额报名</li>
                    <li {% if param.hot == "3" %}class="selected"{% endif %}data-type="3">奖励金额</li>
                </ul>
            </div>
        </div>
        <div id="category-wrapper">
            <span id="category">全部类别</span>
            <div id="category-droplist">
                <span class="droplist-category">全部类别</span>
                <ul>
                    <li class="row-first {% if param.type == 0 %}selected{% endif %}" data-type="0">全部</li>
                    {% for type in activity_types %}
                        <li class="{% cycle "row-second" "row-third" "row-first" as rows %} {% if param.type == forloop.counter %}selected{% endif %}" data-type="{{ forloop.counter }}">
                            {{ type.type_name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div id="list" class="list">
        <ul class="fn-clr">
            {% for act in activities %}
                <li class="{% cycle "action-card" "action-card" "action-card" "action-card last"%} {% if act.status == 2 %}finished{% endif %}" data-detail="/action/{{ act.id }}/detail" data-link="{% share_link act %}" data-id="{{ act.id }}">
                    <div class="pic">
                        <img src="{{ act.poster_url }}">
                    </div>
                    <div class="brief-info">
                        <div class="brief-important">
                            <span class="title">{{ act.name }}</span>
                            <span class="price">&yen;{{ act.reward }}</span>

                        </div>
                        <div class="host">
                            <span class="host-c">主办方：{{ act.host_name }}</span>
                            {% if act.recommended %}
                                <span class="hot-tag">热门推荐</span>
                            {% endif %}
                        </div>
                        <div class="criteria">
                            {%for line in act.description|two_line %}
                                <p class="fn-overflow" title="{{ line }}">{{ line }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="items">
                        <p class="location fn-overflow" title="{{ act.loc_description }}">{{ act.loc_description }}</p>
                        <p class="num fn-overflow">{{ act.get_applying_num }}/{{ act.max_attend }} 人</p>
                        <p class="time fn-overflow">{{ act.get_duration_description }}</p>
                        <p class="extra fn-overflow">{{ act.last_length|duration }}</p>
                    </div>
                    {% load_like act user %}
                    <span class="like {% if like %}selected{% endif %}" data-id="{{ act.id }}"></span>
                    <span class="share" data-id="{{ act.id }}"></span>
                </li>
            {% empty %}
            {% endfor %}
        </ul>
    </div>
    {% if footer %}
        <div id="commercial">
            <a href="{{ footer.related_activity.get_absolute_url }}">
                <img src="{{ footer.poster.url }}">
            </a>
        </div>
    {% endif %}
</div>
</body>
</html>
