{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>消息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/favicon.png">
    <script type="text/javascript" src="//zhao-mi.net/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="//zhao-mi.net/build/message.js"></script>
</head>
<body>
<div id="header">
<div id="header-c">
        <a href="/" id="logo">找米</a>
        <a id="personal-info" class="action" href="/mine/start">
            <img src="{{ user.profile.avatar_url }}" alt="我的个人信息">
        </a>
        <div id="msg" class="action"><a href="/user/msg" class="z-btn">消息</a></div>
        <div id="pub" class="action"><a href="/action/new/create/1" class="z-btn">发布活动</a></div>
        <div id="search" class="action"><input placeholder="在此输入搜索"></input></div>
    </div>
</div>
<div id="content">
    <div id="action-bg">
        <span class="msg-txt">消息</span>
        <img src="//zhao-mi.net/assets/imgs/detail-banner.png">
    </div>
    <div id="action-container">
        <div class="msg-content">
            {% for msg in msgs %}
                <div class="msg-item">
                    {% if msg.notification_type %}
                        <span class="msg-icon info"></span>
                        <div class="msg-item-c">
                        {% if msg.notification_type == "ready_requested" %}
                            <span class="title">通知</span><br/>
                            <span class="msg fn-overflow">{{ msg.description }}</span>
                            <button class="z-btn confirm-btn">确认前往</button>
                            <button class="z-btn reject-btn">拒绝</button>
                        {% else %}
                            <span class="title">通知</span><br/>
                            {% if msg.reserved != '' %}
                                <span class="bonus">获得{{ msg.reserved }}米币</span>
                            {% endif %}
                            <span class="msg fn-overflow">{% autoescape off %}{{ msg.description }}{% endautoescape %}</span>
                        {% endif %}
                        </div>
                    {% elif msg.related_activity%}
                        {% if msg.gift %}
                            <span class="title">福利</span><br/>
                            <span class="msg long fn-overflow">您符合 化妆品家访 的活动要求，我们向您赠送优惠卡</span>
                        {% else %}
                        {% endif %}
                    {% else %}
                        <span class="msg-icon sys"></span>
                        <div class="msg-item-c">
                            <span class="title">系统消息</span><br/>
                            <span class="msg">{{ msg.description }}</span>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>    
</html>
